# Project root directory
PROJECT_ROOT=/home/flyhigh/Documents/Project/trsc

# Test directories
TEST_SOURCE_ROOT=/home/flyhigh/Documents/Project/trsc/test/Regression
TEST_EXEC_ROOT=/home/flyhigh/Documents/Project/trsc/build/test

# Absolute paths to binaries
TRSC_BIN=/home/flyhigh/Documents/Project/trsc/build/tools/trsc/trsc
TRSC_OPT_BIN=/home/flyhigh/Documents/Project/trsc/build/tools/trsc-opt/trsc-opt
FILECHECK_BIN=/home/flyhigh/Documents/GitHub/llvm-project/build/bin/FileCheck
NOT_BIN=/home/flyhigh/Documents/GitHub/llvm-project/build/bin/not
