# Project root directory
PROJECT_ROOT=/path/to/project/root

# Test directories
TEST_SOURCE_ROOT=/path/to/test/regession/
TEST_EXEC_ROOT=/path/to/build/test

# Absolute paths to binaries
TRSC_BIN=/path/to/trsc
TRSC_OPT_BIN=/path/to/trsc-opt
FILECHECK_BIN=/path/to/filecheck
NOT_BIN=/pat/to/not
