# Compiled object files
*.o
*.obj
*.o.d

# Compiled libraries
*.a
*.lib

# Cmake files
CMakeFiles/

# Compiled executables
*.exe
*.out

# Build directories
build/
Debug/
Release/

# IDE files
*.vim

# Cache
.cache/

# Other
trsc_chat.md
