# Compiled object files
*.o
*.obj
*.o.d

# Compiled libraries
*.a
*.lib

# Cmake files
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
CMakeCache.txt

# Compiled executables
*.exe
*.out

# Build directories
build/
Debug/
Release/

# IDE files
*.vim
.clangd

# Cache
.cache/

# Other
trsc_chat.md
